* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  text-align: center;

 }
body {  
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/img-fondo.jpeg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-attachment: fixed;
  background-size: cover;
  margin: 0px;
  
}
.hidden {
  display: none;
}
.show {
  display: block;
}
header{
  width: 100%;
  background:#000000;
}
span{
  display: flex;
  justify-content: flex-end;
  padding: 0px 15px 20px 0px;
}
#btn-menu{
  display: none;
  color: #937341;
}

header label{
  width: 30px;
  height: 30px;
  padding: 10px;
}
header label:hover{
  cursor: pointer;
}
.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu li{
  text-align: center;
  flex-grow: 1;
  font-weight: bold;
}
.menu li:hover{
  background: #15191D;
}
.menu li a{
  cursor: pointer;
  display: block;
  padding: 15px 20px;
  color: #937341;
  text-decoration: none;
}
.menu img{
  width: 20px;
  height: 30px;
  align-self: center;
}
.menu section{
  justify-content: center;

}
.flex {
  display: flex;
}

select {
  cursor:pointer;
  background-color: black;
  color : #937341;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  padding: 13px;
  font-weight: bold;
}
select:hover{
  background: #15191D;
}
.btn-radio{
  background: #000000;
  color: #937341;
  justify-content: space-around;
  padding-bottom: 36px;
} 
.img-menu {
  display: none;
}
@media (max-width:768px){
  header label{
    display: block;
  }
  .img-menu{
    display: block;
  }
  .radiobutton{
    padding: 20px;
  }
  .menu{
    position: absolute;
    background: #000000;
    top: 50px;
    left: 0;
    width: 100%; 
    transition: all 0.5s;
    transform: translateX(100%);
  }
  .menu ul{
    flex-direction: column;
  }
  .menu ul li:hover ul{
    display: none;
  }
 #btn-menu:checked ~ .menu{
    margin: 0;
    transform: translateX(0%)
 }
}
.btn-to-back{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #9B7329;
  border-radius: 6px;
  border: 2px solid #937341;
}
.btn-to-back:hover {
  color: #9B7329;
  background-color: #ffffff;
}
.container {
  color: #937341;
  font-weight: bold;
  font-size: 90%;
  width: 90%;
  margin: 2% auto;   
}
figcaption {
  padding-top: 1%;
}
.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
} 
.icon-img{
  width: 2%;
}
[class*= "col-"] { 
  /*padding: 2em;*/ /*15px*/
  float: left; 
  color: #937341;
  background: rgba(0, 0, 0, 88);
  outline: 1px solid rgba(155, 115, 41, 0);
  /* margin-right: 2%;  */
}

/*Mobile First */
.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-12 {
  width: 100%;
}



@media (min-width: 768px) {

  /* body {
     font-size: 0.8em; 
  } */

  [class*= "col-"] {
    background: rgba(0, 0, 0, 88);
  }
    
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-13 {
    width: 11.66666667%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
  
}

@media (min-width: 992px) {
  
/*   body {
      font-size: 1em; 
   } */

  [class*= "col-"] {
    background: rgba(48, 53, 52, 0.51);
    }
      
  .col-md-11 {
    width: 92.77777777%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-12 {
    width: 100%;
   
  }
}

/*Back to top */
.button-top {
  background-color: #fff;
  font-size: 64px;
  border-radius: 50%;
  border: 0;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
}